# Lecture1 Note
* Written by EZ on 2021/09/27, yuz098@ucsd.edu
* Purpose - learn basics of python

## Tutorial

### Short-cut

* ctrl(or cmd)+M + M -> from code to markdown <br>
* ctrl(or cmd)+M + Y -> from markdown to code<br>
* ctrl+M + B(insert below)/A(insert above)<br>
* or ESC + M/Y/A/B
* *italic text*<br>
* **bold text**<br>
* ***bold italic text***<br>
* [link here](yuz.com)

## Strings

In [78]:
# case
name = 'eVa zhANg'
print(name.title())
print(name.title) # without(), just the built-in function
print(name.lower())
print(name.upper())

Eva Zhang
<built-in method title of str object at 0x000001F50E758370>
eva zhang
EVA ZHANG

In [84]:
# concatinating strings
first_name = 'eva'
last_name = 'zhang'
full_name = first_name + " " + last_name + "!"
print(full_name.title())

Eva Zhang!

In [82]:
# variables
%whos

Variable     Type     Data/Info
-------------------------------
a            float    1.55
b            float    2.55
first_name   str      eva
full_name    str      eva zhang was here!
last_name    str      zhang
name         str      eVa zhANg
new_lst      list     n=6
words        str      banana,peanut,xylophone,aardvark,foot,python
words2       list     n=6
words3       list     n=44
words_lst    list     n=6

In [89]:
name = " E va    " 
print(name.rstrip()) # right-hand side
print(name.lstrip()) # left-hand side
print(name.strip()) # both sides

 E va
E va
E va

In [93]:
s = 'xy"z'
print(s)
ss = "xy'z"
print(ss)

xy"z
xy'z

## Integers

In [103]:
# int data types (objects)
# integers are WHOLE numbers
x = 2
y = 3

print(type(x))
print(type(x/y))

# basic operations
print(x**y)   # raise to a power

<class 'int'>
<class 'float'>
8

In [96]:
# this performs integer division and returns an int without the remainder
print(x//y)
# this returns the remainder as an integer
print(y % x)

0
1

In [102]:
# make a floating point number and then type cast as an int to see what happens
x = 2.9
print(int(x)) # does not ROUND!!! truncates

2

## Lists

In [105]:
lst = ['a','b','c']
lst[0] = ['d',20]
print(lst)

[['d', 20], 'b', 'c']

In [106]:
s = 'a,f,v,v,f;2.s.s sjio'
s.split('.')

['a,f,v,v,f;2', 's', 's sjio']

In [111]:
lst = ['a','d','c']
','.join(lst)

'a,d,c'

In [112]:
sorted(lst) # sort will change the variable itself

['a', 'c', 'd']

In [17]:
a = 1.5
b = 2.5

In [18]:
round(a,1)

1.6

In [19]:
'a=' + '%.1f'%a

'a=1.6'

In [21]:
1000/14*60

4285.714285714286

In [22]:
round(1000/14*60,1)

4285.7

In [39]:
words = 'banana,peanut,xylophone,aardvark,foot,python'

In [43]:
words2 = words.split(',')

In [51]:
words3 = sorted(words2,reverse=True)
words3[0]

'y'

In [28]:
words_lst = ['banana ', ' peanut  ', 'xylophone  ', 'aardvark  ', 'foot       ', 'python    ']

In [53]:
sorted(words_lst,key=len)

['banana ',
 ' peanut  ',
 'aardvark  ',
 'python    ',
 'xylophone  ',
 'foot       ']

In [59]:
sorted(words_lst,key=lambda x: len(x) - x.count(" "))

['foot       ',
 'banana ',
 ' peanut  ',
 'python    ',
 'aardvark  ',
 'xylophone  ']

In [66]:
words_lst[0].replace(' ','')

'banana'

In [64]:
new_lst = [item.replace(' ','') for item in words_lst]
new_lst

['banana', 'peanut', 'xylophone', 'aardvark', 'foot', 'python']

In [68]:
sorted(new_lst,key=len)[0]

'foot'

In [69]:
sorted(new_lst)

['aardvark', 'banana', 'foot', 'peanut', 'python', 'xylophone']